<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>terrainDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0A030951E99D88900640A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0A4B6E41BFA4DED00441855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0A4B6F91BFA4DEE00441855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0A4B7041BFA4DEE00441855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
